# Build artefacts
*/build/
io/
third_party/
measurements/
harness/__pycache__/
harness/mnist/__pycache__/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Add pre-built OpenFHE library
!submission/pre-built-library/libmlp_openfhe.a

# Executables
*.exe
*.out
*.app

# Directories
.DS_Store
.idea/
.vscode/

# Virtual environments
virtualenv

# Datasets, queries and results since we generate them on the fly
datasets/*
# But keep the folder alive with this one file, since some submissions might have fixed datasets
!datasets/.gitkeep

# Temporary files for loading MNIST data and model training
harness/mnist/data/*
harness/mnist/mnist_ffnn_model.pth

# Remote-submission artifacts
ek.lpk
submission_remote/__pycache__/
